.profile{
    width: 300px;
    height: 300px;
    background-image: url(./pictures/eagle.png);
    background-size: 100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.profile .caption{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 100%;
    opacity: 0;
    transition: all 1s;

}
.profile:hover .caption{
    opacity: 1;
    top: 0px;
    left: 0px;
    transform: rotate(360deg);
}
.profile .caption p{
    margin-top: 30px;
    padding-bottom: 15px;
}
.profile .caption h3{
    font-size: 35px;
}
.profile .caption button{
    width: 60%;
    border: 3px solid black;
    border-radius: 20px;
    border-color: white;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 15px;
    outline: none;
}